

:root{
    /* colours */
    --black: #111111;
    --base-red: #C21807;
    --beige: #F5F0EC;
}
/* Basic styling */
body{
    /* !important brugt for at kunne overwrite bootstrap ------------------------------------ */
    background-color: var(--beige) !important; 
    color: var(--black) !important;
}
p{
    font-family: "roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    max-width: 80%;
    margin: 10%;
}
/* Titel på sider */
h1{
    font-family: "splash", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-size-adjust: 120%;
    padding-top: 2em;
    padding-bottom: 0.5em;
}
h2{
    margin-left: 10%;
}
h3{
    text-size-adjust: 80%;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: 10%;
    font-weight: 600;
}
a{
    font-family: "roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
button{
    color: var(--beige) !important;
    background-color: var(--base-red)!important;
    border: none !important;
    font-size: 1.5em !important;
}

/* Stjernetegn-sider------------------------------------------------------------------------- */
.sign-image{
    margin-top: 1em;
}
.ord{
    margin-top: 1em;
    font-size: 120%;
    font-weight: 600;
}
.years{
    width: 25ch;
    margin-left: auto;
    margin-right: auto;
    font-size: 120%;
}
/* Items boxe--------------------------------- */
.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  text-align: center;
}
.flex-item {
  width: 100px;
}
.flex-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
/* ----------------------- */
.story-img{
    max-width: 100%;
}

/* foother------------------------------------------------------------------------------------ */
footer{
    background-color: var(--black);
    color: var(--beige);
    margin-top: 2em;
}
footer a{
    color: var(--beige);
    text-decoration: none;
    text-decoration: underline;
}
h5{
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 10%;
    padding-top: 1em;
}
.stjernetegn-footer{
    justify-content: left;
    padding: 10;
}

/* Medium devices (tablets, 768px and up)------------------------------------------------------*/
@media (min-width: 768px){
    p{
        max-width: 70ch;
        justify-content: center;
    }
    h1{
        text-size-adjust: 150%;
    }
    .years{
        width: 50ch;
}
}
/* Large devices (desktops, 992px and up) ------------------------------------------------------*/
@media (min-width: 992px){
    p{
        max-width: 70ch;
        justify-content: center;
    }
}